@charset "UTF-8";
.SocialFansWidget ul {margin:0 !important;}
.SocialFansWidget li {border:none !important; padding:0 !important; list-style:none !important; background:none !important;}
.SocialFans {
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #808080;
    padding: 2px;
    max-width: 250px;
    -webkit-box-shadow: 0 0 3px 0 rgba(125,125,125,0.5), inset 0 0 0 2px #ccc;
    -moz-box-shadow: 0 0 3px 0 rgba(125,125,125,0.5), inset 0 0 0 2px #ccc;
    -ms-box-shadow: 0 0 3px 0 rgba(125,125,125,0.5), inset 0 0 0 2px #ccc;
    box-shadow: 0 0 3px 0 rgba(125,125,125,0.5), inset 0 0 0 2px #ddd;
}
.SocialFans:hover {
    -webkit-box-shadow: inset 0 0 0 2px #ddd;
    -moz-box-shadow: inset 0 0 0 2px #ddd;
    -ms-box-shadow: inset 0 0 0 2px #ddd;
    box-shadow: inset 0 0 0 2px #ddd;
}
.SocialFans:active {
    border: 1px solid #b3b3b3;
}
.SocialFans a {
    display: block;
    color:#373737 !important;
    padding: 0 0 0 58px !important;
    background: #ececec;
    background: -webkit-linear-gradient(top, #ececec, #ddd);
    background: -moz-linear-gradient(top, #ececec, #ddd);
    background: -o-linear-gradient(top, #ececec, #ddd);
    background: -ms-linear-gradient(top, #ececec, #ddd);
    background: linear-gradient(top, #ececec, #ddd);
    border-radius: 4px;
    font-weight:normal;
}

.SocialFans a:hover {
    color:#c30 !important;
    text-decoration:none;
}
.SocialFans .SocialFansCount {
    font-size: 14px;
}
.SocialFans > a > span {
    padding: 10px;
    border-radius: 0 3px 3px 0;
    display: block;
    font-size: 18px;
    line-height:100%;
    background: -webkit-linear-gradient(top , #fff, #f0f0f0);
    background: -moz-linear-gradient(top , #fff, #f0f0f0);
    background: -o-linear-gradient(top , #fff, #f0f0f0);
    background: -ms-linear-gradient(top , #fff, #f0f0f0);
    background: linear-gradient(top , #fff, #f0f0f0);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#f0f0f0'); /* IE 7 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#f0f0f0'); /* IE 8 */
}
.SocialFans a span em {
    font-size: 14px;
}
.SocialFans {
    background: -webkit-linear-gradient(top, #ececec, #ddd);
    background: -moz-linear-gradient(top, #ececec, #ddd);
    background: -o-linear-gradient(top, #ececec, #ddd);
    background: -ms-linear-gradient(top, #ececec, #ddd);
    background: linear-gradient(top, #ececec, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ececec', endColorstr='#dddddd'); /* IE 7 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ececec', endColorstr='#dddddd'); /* IE 8 */
}
.SocialFans a {
    background: url(SocialFansWidget.png) no-repeat !important;
}
.SocialFans.twitter a {
    background-position: 0 50% !important;
}
.SocialFans.googleplus a {
    background-position: -58px 50% !important;
}
.SocialFans.facebook a {
    background-position: -115px 50% !important;
}
.SocialFans.feedburner a {
    background-position: -173px 50% !important;
}
.SocialFans.appnet a {
    background-position: -231px 50% !important;
}
